<div>
  <button (click)="pause()">Pause</button>
  <button (click)="resume()">Resume</button>
  <input type="number" min="10" max="1000" value="100" step="10" (change)="updateDelay($event)"/>
</div>
<ant-area [area]="area$ | async"></ant-area>
<div>
  Current speed: {{ frameTimes$ | async }} ms/Frame
</div>
