:host {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  user-select: none;

  &.grass {
    background-color: #44aa44;
  }

  &.colony {
    background-color: #aa0000;
  }

  > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.food {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  background-color: darkgreen;
  border-radius: 100%;
}

.ant {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 70%;
  background-color: black;
  border-radius: 100%;

  &.hasFoodPosition {
    background-color: blue;
  }

  &.carryingFood {
    background-color: purple;
  }
}
